% Preamble
\documentclass[11pt]{report}

% Packages
\usepackage{amsmath}
\usepackage{float}
% Please add the following required packages to your document preamble:
\usepackage{multirow}
\usepackage[T1]{fontenc}
\usepackage{times}
\usepackage{fontspec}
\fontspec{Tinos}[
    Path = .,
    Extension = .ttf ,
    UprightFont = *-Regular ,
    Scale=1,
    Ligatures=TeX
]
\fontspec{Inter}[
    Path = font/,
    Extension = .ttf ,
    UprightFont = *-Regular ,
    Scale=1,
    Ligatures=TeX
]

%\setromanfont{Tinos}

\newcommand{\tsc}[1]{\textsc{#1}}
\newcommand{\grc}[1]{\fontspec{Inter}#1}
\newcommand{\trc}[1]{\textit{\fontspec{Tinos}#1}}

\newcommand\gunderset[2]{%
  \leavevmode
  \vtop{\offinterlineskip
    \halign{%
      \hfil##\hfil\cr % center
      \strut#2\cr
      \noalign{\kern-.3ex}
      \dynscriptsize\strut#1\cr
    }%
  }%
}

% Document
\begin{document}
